{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<html>
    <head>
        <div class="container marketing my-4">

            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
                <h2 class="fw-normal">Smith John</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-primary" href="https://www.linkedin.com/in/mithilesh-yadav-666481220?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFIGDq4JZToimbjxtYPFdXw%3D%3D" target="_blank">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
               
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
             
                <h2 class="fw-normal">Mithilesh Yadav</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-primary" href="https://www.linkedin.com/in/mithilesh-yadav-666481220?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFIGDq4JZToimbjxtYPFdXw%3D%3D" target="_blank">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%"  fill="#777" dy=".3em">140x140   </text></svg>
        
                <h2 class="fw-normal">Kaal John</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-primary" href="https://www.linkedin.com/in/mithilesh-yadav-666481220?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFIGDq4JZToimbjxtYPFdXw%3D%3D" target="_blank">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        
        
            <!-- START THE FEATURETTES -->
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Machine Learning. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy</p>
              </div>
              <div class="col-md-5">
                <img src="static/13.jpg" class="d-block" alt="...">        
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1"> Java Script <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">JavaScript is a text-based programming language used both on the client-side and server-side that allows you to make web pages interactive. Where HTML and CSS are languages that give structure and style to web pages, JavaScript gives web pages interactive elements that engage a user.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img src="static/14.jpg" class="d-block" alt="...">        
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Django <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">It is the python based framework to worn in back-end and as well as front-end development.the major part of the django is we can work on databases easily we just have to write a few code in it.</p>
              </div>
              <div class="col-md-5">
                <img src="static/15.jpg" class="d-block" alt="...">
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <!-- /END THE FEATURETTES -->
        
          </div><!-- /.container -->
        
        
          <!-- FOOTER -->
          <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2021–2022 Webyte Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>
        </main>
        
        
            <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        
              
          </body>
        </html>
 {% endblock body  %} 

 